---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

@import "https://fonts.googleapis.com/css?family=Work+Sans";

html, body { font-family: "Work Sans", sans-serif; }

body {
	font-size: 15px;
	line-height: 23px;
	background: #ffffff;
}

.main-wrapper {
	background: #f7f7f7;
	padding: 0;
}

@media (min-width: 767px) {
	.main-wrapper {
		padding-right: 280px;
	}
}

section {
	padding: 60px;
}

.main-wrapper .section-title {
	color: #31405c;
	font-size: 30px;
	font-weight: bold;
	text-transform: none;
}

.main-wrapper .section {
	margin-bottom: 0;
}

.sidebar-wrapper {
	background: #545E6C;
}

.sidebar-wrapper .name {
	font-size: 26px;
}

.wrapper {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.32);
	color: #31405c;
}

.main-wrapper .job-title, .main-wrapper .degree {
	font-weight: bold;
	font-size: 18px;
}

.main-wrapper .experiences-section .item, .main-wrapper .educations-section .item {
	margin-bottom: 60px;
}

.skillset .level-bar-inner {
	background: #545E6C;
}

a {
	font-weight: bold;
}

a:hover {
	opacity: 0.8;
}

section.summary-section, section.projects-section {
	background: white;
}

section.skills-section {
	background: url(../images/github.png);
	background-size: cover;
	position: relative;
}

.main-wrapper .company, .main-wrapper .university {
    margin-bottom: 10px;
    color: #97AAC3;
}

.project-tagline {
    color: #97AAC3;
}

.project-tagline, .project-description {
	margin-left: 27px;
}

.main-wrapper .projects-section .item {
	margin-bottom: 25px;
}

.lang-desc {
	float: right;
}

.item img {
	max-width: 30%;
	padding: 5px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.32);
	margin: 5px;
	cursor: pointer;
}

.item img:hover {
	opacity: 0.8;
}







.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  padding: 0 20px;
}

.columnContainer {
	position: fixed;
	bottom: 30px;
	text-align: center;
	width: 100%;
}

.columns {
	display: inline-block;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffffee;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  border: 0;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.32);
  text-align: center;
}

/* The Close Button */
.close {
  color: #222;
  position: fixed;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.modalSlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #222;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}


img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1 !important;
}

img.tb {
	max-height: 150px;
	max-width: 100%;
	padding: 5px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.32);
	margin: 5px;
	cursor: pointer;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-image {
  max-width: 100%;
  width: 100%;
  padding: 5px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5px;
}

#templateModal { 
	display: none;
}

.skills-section.section * {
	z-index: 10;
	transform: translate3d(0,0,0);
}

.skills-section.section > * {
	position: relative;
}

#skills-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f7f7f7b0;
	z-index: 0;
	// transition: all .3s ease-in-out;
	// -webkit-transform: translate3d(0,0,0);
	// -ms-transform: translate3d(0,0,0);
	// transform: translate3d(0,0,0);
}