---

---

@charset "utf-8";

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials

@import "https://fonts.googleapis.com/css?family=Work+Sans";

html, body { font-family: "Work Sans", sans-serif; }

body {
	font-size: 15px;
	line-height: 23px;
	background: #ffffff;
}

.main-wrapper {
	background: #f7f7f7;
	padding: 0;
}

@media (min-width: 767px) {
	.main-wrapper {
		padding-right: 280px;
	}
}

section {
	padding: 60px;
}

.main-wrapper .section-title {
	color: #31405c;
	font-size: 30px;
	font-weight: bold;
	text-transform: none;
}

.main-wrapper .section {
	margin-bottom: 0;
}

.sidebar-wrapper {
	background: #545E6C;
}

.sidebar-wrapper .name {
	font-size: 26px;
}

.wrapper {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.32);
	color: #31405c;
}

.main-wrapper .job-title, .main-wrapper .degree {
	font-weight: bold;
	font-size: 18px;
}

.main-wrapper .experiences-section .item, .main-wrapper .educations-section .item {
	margin-bottom: 60px;
}

.skillset .level-bar-inner {
	background: #545E6C;
}

a {
	font-weight: bold;
}

a:hover {
	opacity: 0.8;
}

section.summary-section, section.projects-section {
	background: white;
}

.main-wrapper .company, .main-wrapper .university {
    margin-bottom: 10px;
    color: #97AAC3;
}

.project-tagline {
    color: #97AAC3;
}

.project-tagline, .project-description {
	margin-left: 27px;
}

.main-wrapper .projects-section .item {
	margin-bottom: 25px;
}

.lang-desc {
	float: right;
}